@font-face {
    font-family: "Display";
    src: url("../fonts/digitaldisplay.ttf");
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------- CANVAS ------------*/

canvas{
    border: 2px groove #333333;
    background-color: #ccc;
}

.Simulador{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.areaSim{
    position: relative;
}

.areaSim #btn{
    position: absolute;
    bottom: 70px;
    left: 36px;
    width: 30px;
    height: 30px;
    background-color: red;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.areaSim .temp{
    position: absolute;
    top: 61px;
    left: 337px;
    width: 39px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaSim .temp #display{
    font-family: "Display";
    font-size: 1.1rem;
    color: black;
}

.areaSim #alm{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px;
    font-family: "Roboto";
    font-weight: 600;
    border: 2px solid #333333;
    border-radius: 8px;
    outline: none;
}

.areaSim #formula{
    position: absolute;
    bottom: 25px;
    right: 20px;
    min-width: 180px;
    height: 30px;
    border: 2px solid #333333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .1s ease;
}

.areaSim #formula .formln{
    font-family: "Roboto";
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    margin: 3px 0;
}

.areaSim #tempEstavel{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 170px;
    height: 45px;
    border: 2px solid #333333;
    border-radius: 10px;
    display: none;
    font-family: "Roboto";
    text-align: center;
    font-size: 1rem;
    padding: 0 1px;
}

.areaSim #reiniciar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 2rem;
    background-color: aqua;
    border: 2px solid #333333;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    display: none;
}

/*---------- STYLE ----------- */

